vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|12 Nov 2012 02:41:00 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|menu.html coffee.dwt about.html hours.html main.html index.html location.html
vti_author:SR|HORUS\\John
vti_modifiedby:SR|HORUS\\John
vti_timecreated:TR|16 Jul 2012 01:01:39 -0000
vti_nexttolasttimemodified:TW|12 Nov 2012 02:32:26 -0000
vti_cacheddtm:TX|12 Nov 2012 02:32:26 -0000
vti_filesize:IR|4120
vti_cachedlinkinfo:VX|S|../images/banner.jpg S|../images/nav/home-on.jpg S|../images/nav/home-off.jpg S|../images/nav/about-on.jpg S|../images/nav/about-off.jpg S|../images/nav/hours-on.jpg S|../images/nav/hours-off.jpg S|../images/nav/loc-on.jpg S|../images/nav/loc-off.jpg S|../images/nav/menu-on.jpg S|../images/nav/menu-off.jpg
vti_cachedsvcrellinks:VX|FSUS|images/banner.jpg FSUS|images/nav/home-on.jpg FSUS|images/nav/home-off.jpg FSUS|images/nav/about-on.jpg FSUS|images/nav/about-off.jpg FSUS|images/nav/hours-on.jpg FSUS|images/nav/hours-off.jpg FSUS|images/nav/loc-on.jpg FSUS|images/nav/loc-off.jpg FSUS|images/nav/menu-on.jpg FSUS|images/nav/menu-off.jpg
